<footer>
    <p>&copy; 2024 Pleasant Painting LLC</p>
    <div id="social-media">
        <a href="https://www.facebook.com"><img src="/assets/images/social-media-icons/facebook.png" alt="Facebook"></a>
        <a href="https://www.twitter.com"><img src="/assets/images/social-media-icons/twitter.png" alt="Twitter"></a>
        <a href="https://www.instagram.com"><img src="/assets/images/social-media-icons/instagram.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com"><img src="/assets/images/social-media-icons/linkedin.png" alt="LinkedIn"></a>
        <a href="https://www.youtube.com"><img src="/assets/images/social-media-icons/youtube.png" alt="YouTube"></a>
        <a href="https://www.pinterest.com"><img src="/assets/images/social-media-icons/pinterest.png" alt="Pinterest"></a>
        <a href="https://www.snapchat.com"><img src="/assets/images/social-media-icons/snapchat.png" alt="Snapchat"></a>
        <a href="https://www.reddit.com"><img src="/assets/images/social-media-icons/reddit.png" alt="Reddit"></a>
        <a href="https://www.tumblr.com"><img src="/assets/images/social-media-icons/tumblr.png" alt="Tumblr"></a>
        <a href="https://www.whatsapp.com"><img src="/assets/images/social-media-icons/whatsapp.png" alt="WhatsApp"></a>
    </div>
</footer>
